<app-editor-toolbar
  [toolbarConfig]="toolbarConfig()"
  [linkToolConfig]="linkToolConfig()"
  [linkState]="linkState()"
  [debugHtmlContent]="htmlString()"
  (addLink)="onAddLink()"
  (applyLink)="onApplyLink($event)"
  (cancelLink)="onCancelLink()"
  (editLink)="onEditLink($event)"
  (goToLink)="onGoToLink($event)"
  (removeLink)="onRemoveLink($event)"
  (linkInputChange)="onLinkInputChange($event)"
  (printHtml)="onPrintHtml()"
/>

<div
  #editor
  class="editor-area"
  contenteditable="true"
  [attr.spellcheck]="config().spellcheck ?? true"
  (keydown)="onKeyDown($event)"
  [attr.aria-label]="config().editorAriaLabel ?? 'Rich Text Editor'"
  [innerHTML]="initialContent()"
></div>
