<header>
  <mat-toolbar color="primary" class="app-toolbar">
    @for (header of headers; track header.route) {
    <button
      mat-button
      [routerLink]="header.route"
      routerLinkActive="active"
      [routerLinkActiveOptions]="
        header.route === '/' ? { exact: true } : { exact: false }
      "
    >
      @if (header.icon) {
      <mat-icon>{{ header.icon }}</mat-icon>
      }
      {{ header.title }}
    </button>
    }

    <div class="flex-spacer"></div>

    <button mat-icon-button aria-label="GitHub Repository">
      <mat-icon>code</mat-icon>
    </button>
  </mat-toolbar>
</header>

<main class="app-main">
  <router-outlet></router-outlet>
</main>
