<header>
  <mat-toolbar color="primary" class="app-toolbar">
    <button mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <mat-icon>home</mat-icon>
      Home
    </button>
    <button mat-button routerLink="/lab" routerLinkActive="active">
      <mat-icon>science</mat-icon>
      Lab
    </button>

    <div class="flex-spacer"></div>

    <button mat-icon-button aria-label="GitHub Repository">
      <mat-icon>code</mat-icon>
    </button>
  </mat-toolbar>
</header>

<main class="app-main">
  <router-outlet></router-outlet>
</main>
